
# Dependency directories
node_modules/
.angular/
# Optional npm cache directory
.npm

# Nuxt.js build / generate output
.nuxt
dist



# Stores VSCode versions used for testing VSCode extensions
.vscode-test

.DS_Store*